.menu {
    display: flex;
    width: 100%;
    justify-content: center;
}



.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #f8f9fa; /* Adjust based on light/dark mode */
   text-align: center;
   padding: 10px;
   z-index: 1000; /* Ensure it appears on top of other content */
}


.light-mode .footer {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .footer {
    background-color: #ffffff;
    color: #000000;
}

.navbar-light-mode .navbar-brand {
    color: #000;
    font-size: 40px;
}


.navbar-light-mode .btn {
    border-color: #000;
    color: #000;
    margin-right: 20px;
}

.navbar-dark-mode .btn {
    border-color: #ffffff;
    color: #ffffff;
    margin-right: 20px;
}

.navbar-dark-mode .navbar-brand {
    color: #ffffff;
    font-size: 40px;
}


/* Light mode styles */
.navbar-light-mode {
    background-color: #f8f9fa;
    color: #000;
}

.navbar-light-mode .nav-link {
    color: #000;
}

.navbar-light-mode .nav-link:hover {
    color: #000000;
    background-color: transparent;
    border-radius: 10%;
    border: solid;
}

/* Dark mode styles */
.navbar-dark-mode {
    background-color: #343a40;
    color: #fff;
}

.navbar-dark-mode .nav-link {
    color: #fff;
}

.navbar-dark-mode .nav-link:hover {
    color: #ffffff;
    border-radius: 10%;
    border: solid;
    background-color: transparent;
}

.dark-mode {
    background-color: #343a40;
    color: #fff;
}

.intro-text {
    text-align: center;
    font-size: 30px;
}

#intro {
    margin-bottom: 50px;
}

.japanese-level {
    text-align: center;
    font-size: 20px;
}
.dark-mode .japanese-level{
   border-right: 1px solid #ffffff;
}
.light-mode .japanese-level{
   border-right: 1px solid #000;
}
#about{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 500px;
    border: solid;
    border-radius: 5%;
    padding: 20px;
    font-size: 25px;
}
